# dependencias
node_modules/

# build
dist/
dist-ssr/
*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# referencias internas con copyright (capturas del referente) — NUNCA al repo
docs/ref-*.png
docs/ref-*.jpg

# editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
